* {
    box-sizing: border-box;
}

body {
    background: blueviolet;
}



main {

    width: 500px;
    height: 500px;
    border-radius: 50%;
    margin: 0 auto;
    background: tomato;
    box-shadow: 0 0 0 0 rgba(90, 153, 212, 0.5);
    animation: pulse 10.5s infinite;

}

ion-header button[ion-button].bar-buttons:hover {
    animation: none;
}

@keyframes pulse {
    0% {
        transform: scale(0.9);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 1 0 10px rgba(90, 153, 212, 0);
    }

    100% {
        transform: scale(0.9);
        box-shadow: 0 0 0 0 rgba(90, 153, 212, 0);
    }

}


.settings,
.SetTimer,
.SetTimer-controls,
.Timer,
.Controls {
    display: flex;
}



.settings {
    justify-content: space-evenly;


}

.SetTimer {
    flex-direction: column;
    align-items: center;
    background: 5px solid black;

}

.SetTimer-controls {
    justify-content: center;
    align-items: center;
    background: 5px solid black;


}

.Timer {
    flex-direction: column;
    align-items: center;
}

.Controls {
    margin: 0 auto;
    justify-content: center;
    background: rgb(206, 86, 16);
    width: 200px;

    border-bottom: 52px solid rgb(236, 18, 18);
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-radius: 0 0 80px 500px;
}

.Timer {
    color: rgb(0, 200, 236);
    background: tomato;
    border: 5px solid black;
    width: 50%;
    border-radius: 50%;
    margin-left: 8rem;
}
